
.forma input{
  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 7px;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    height: 0;
    opacity: 0;
  }
.error{
  color: red;
  font-size: 10px;
  display: none;
}
.errorActiv{
  color: red;
  font-size: 10px;
  display: block;
}
.forma button{
  margin: 10px;
  padding: 10px;
}

.selec::after {
  content: "";
  position: absolute;
  width: 14px;
  top: calc(50% - 4px);
  height: 9px;
  right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.selec {
  position: relative;
  background-color: rgb(117, 11, 231);
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}
.selec label{
  margin: 5px;
  padding: 5px;
}
.selec select {
  background-color: rgb(8, 7, 41);
  color: white;
}
